<hlm-table class="w-full">
  <hlm-trow>
    <hlm-th class="w-40">Label</hlm-th>
    <hlm-th class="w-40">Description</hlm-th>
    <hlm-th class="w-40">Amount</hlm-th>
    <hlm-th class="w-40">Payment Type</hlm-th>
    <hlm-th class="w-40">Slot Name</hlm-th>
    <hlm-th class="w-40">Due Time</hlm-th>
    <hlm-th class="w-40">Created At</hlm-th>
    <hlm-th class="w-40">Actions</hlm-th>
  </hlm-trow>
  <hlm-scroll-area class="h-[400px]">
    @for (invoice of TAUX_DATA; track invoice.label) {
    <hlm-trow>
      <hlm-td truncate class="w-40">{{ invoice.label }}</hlm-td>
      <hlm-td class="w-40">{{ invoice.description }}</hlm-td>
      <hlm-td class="w-40 flex items-center gap-x-3">
        <div class="relative">
          {{ invoice.amount }} MAD
          <div
            class="text-white rounded-full px-1 py-1/2 animate-pulse bg-green-400 absolute text-[10px] font-light top-[-50%] right-[-50%]"
            *ngIf="invoice.payementType === 'LATE'"
          >
            + 10%
          </div>
        </div>
      </hlm-td>
      <hlm-td class="w-40 flex items-center justify-center"
        ><div
          [ngClass]="{
            'text-red-500': invoice.payementType === 'NOT_PAYED',
            'text-orange-500': invoice.payementType === 'LATE',
            'text-emerald-500': invoice.payementType === 'PAYED'
          }"
        >
          {{ invoice.payementType }}
        </div></hlm-td
      >
      <hlm-td class="w-40">{{ invoice.terrain }}</hlm-td>
      <hlm-td class="w-40">{{ invoice.dueTime }}</hlm-td>
      <hlm-td class="w-40">{{ invoice.createdAt }}</hlm-td>
      <hlm-td class="w-40">
        <button
          variant="ghost"
          class="flex items-center text-rose-500 cursor-pointer hover:text-rose-400"
          hlmBtn
          (click)="onDelete(invoice.id)"
        >
          <i class="fa-regular fa-trash-can"></i>
        </button>
        <hlm-dialog>
          <button
            variant="ghost"
            class="flex items-center text-blue-500 cursor-pointer hover:text-blue-400"
            id="edit-profile"
            brnDialogTrigger
            hlmBtn
          >
            <i class="fa-solid fa-pen"></i>
          </button>
          <hlm-dialog-content
            class="sm:max-w-[425px]"
            *brnDialogContent="let ctx"
          >
            <form
              [formGroup]="taxeForm"
              (ngSubmit)="onEditTaxe(invoice.id)"
            >
             <hlm-dialog-header>
          <h3 hlmDialogTitle>Edit {{invoice.label}}</h3>
          <p hlmDialogDescription>
            Make changes to your taxe here. Click save when you're done.
          </p>
        </hlm-dialog-header>
        <div class="grid gap-4 py-4">
          <div class="grid grid-cols-4 items-center gap-4">
            <label hlmLabel for="label" class="text-right">Label</label>
            <input hlmInput id="label" formControlName="label" class="col-span-3" />
          </div>
          <div class="grid grid-cols-4 items-center gap-4">
            <label hlmLabel for="date" class="text-right">Due Time</label>
            <input hlmInput id="date" formControlName="dueTime" class="col-span-3" type="datetime-local" />
          </div>
          <div class="grid grid-cols-4 items-center gap-4">
            <label
              for="countries"
              class="block mb-2 font-medium text-gray-900 dark:text-white text-right"
              >Select a Slot</label
            >
            <select
              id="countries"
              formControlName="terrain_id"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-orange-500 focus:border-orange-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-orange-500 dark:focus:border-orange-500 col-span-3"
            >
              <option selected>Choose a Slot</option>
              @for(terrain of TERRAIN_DATA; track terrain.name ){
                <option value="{{terrain.id}}">{{terrain.name}}</option>
              }
            </select>
          </div>

          <div class="grid grid-cols-4 items-center gap-4">
            <label hlmLabel for="description" class="text-right"
              >Description</label
            >
            <textarea
              hlmInput
              formControlName="description"
              name="description"
              placeholder="Type your message here."
              class="col-span-3"
            ></textarea>
          </div>
        </div>
        <hlm-dialog-footer>
          <button hlmBtn type="submit">Save</button>
        </hlm-dialog-footer>
            </form>
          </hlm-dialog-content>
        </hlm-dialog>
      </hlm-td>
    </hlm-trow>
    }</hlm-scroll-area
  >
</hlm-table>
